
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 20px;
}

h1 {
  font-size: 2srem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.font-pink {
  color: rgb(255, 192, 203) ;
}

.font-skyblue {
  color: skyblue;
}

#basic p {
  font-weight: bold;
}