
@media screen and (max-width: 768px) {
  #parent {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}

h1 {
  margin: 0;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 25px;
  border-bottom: dotted 3px;
  border-color: rgb(236, 122, 122);
}

h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}

p {
  margin: 0;
  font-size: 20px;
}

body {
  margin: 0;
}

a {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(193, 234, 251);
}

a:hover {
  color: rgb(245, 178, 168);
}

header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}

main {
  padding: 10px;
}

#parent {
  display: flex;
  justify-content: space-arounds;

}

.contents {
  border: solid 3px;
  border-color: rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

.contents img {
  margin: 10px 0;
  width: 70%;
}

.contents p:nth-of-type(2):first-letter{
  color: rgb(97, 206, 249);
  font-weight: bold;

}

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}